
body{
    font-family:'Outfit', sans-serif;
    background: hsl(212, 45%, 89%);
}

#main{
    background-color: white;
    text-align: center;
}

img{
    width:300px;
    border-radius: 25%;
}

h1{
    font-size: 20px;
    font-weight: 700;
    color:hsl(218, 44%, 22%)
}

p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
}






.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }